body {
	margin: 0px;
}

div.legend {
	position: absolute;
	left: 10px;
	top: 61px;
	width: 330px;
	background: rgba(144,144,144,0.6);
	border: 3px solid #999;
	padding: 25px 5px 5px 5px;
	-webkit-border-radius: 10px;
	display:none;
}
.logbox{
	position: absolute;
	top: 15px;
	left: 15px;
	background: rgba(240,256,240,0.5);
	padding: 5px;
	color: rgba(0,0,0,1);
	border:#00ff00 solid 1px;
}