body {
	margin: 0px;
}

.logbox{
	position: absolute;
	top: 15px;
	left: 15px;
	background: rgba(240,256,240,0.5);
	padding: 5px;
	color: rgba(0,0,0,1);
	border:#00ff00 solid 1px;
}
.ctrl_btn{
	position: absolute;
	width: 150px;
	height: 150px;
	margin: 1px;
	padding: 3px 10px;
	border-radius: 75px;
	text-decoration: none;
	color: #FFF;
//	background-image: -webkit-linear-gradient(45deg, #FF7107 0%, #ff2b5f 100%);
//	background-image: linear-gradient(45deg, #FF7107 0%, #ff2b5f 100%);
//	transition: .4s;
	background-color: rgba(33, 39, 98, 0.5);
//	opacity:0.7;
}